.container {
    display:flex;
    flex-direction: column;
    height: 100%;
}

main {
    z-index: 1;
    display:flex;
    flex:1;
    overflow:hidden;
}

header {
    background-color: black;
    width:100%;
}

